/*background color del sitio y fontsize*/
$bodycolor: #efefef;
$fontsize:20px;
/*color principal del sitio: aplica al background de la navbar, footer y botones*/
$maincolor: #a3c6e7;
/*variables correspondientes a la animación*/
$transitiontime: 3s;
$scale:1.2;
/*tamaño del logo para mobile y tablet*/
$widhtlogo:120px;
$heightlogo:108px;
