@charset "UTF-8";
/*background color del sitio y fontsize*/
/*color principal del sitio: aplica al background de la navbar, footer y botones*/
/*variables correspondientes a la animación*/
/*tamaño del logo para mobile y tablet*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*mixin*/
body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 10px;
}
a:hover {
  color: black;
}

/* Personalización del color de fondo del boton de las cards, del botón enviar del formulario y del color de fondo de la navbar de bootstrap*/
.bg {
  background-color: #a3c6e7;
}

.metodoPagos li {
  display: list-item;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.img-receta {
  padding: 5px;
  width: 286px;
  height: 226px;
}

.carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carrito figcaption {
  margin: 10px;
  padding: 10px;
}

.navbar-brand {
  display: none;
}

.grillaIndex {
  display: grid;
  grid-template-areas: "header" "main" "recomendados" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr 1fr 220px;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 1024px) {
  .grillaIndex {
    grid-template-rows: 170px 1fr 1fr 150px;
  }
  .grillaIndex .navbar-brand {
    display: contents;
  }
}

.recomendados-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media (min-width: 768px) {
  .recomendados-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 1024px) {
  .recomendados-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.productos-figure img {
  width: 200px;
  height: 158px;
}
.productos-figure figcaption {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 200px;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .productos-figure img {
    width: 251px;
    height: 199px;
  }
  .productos-figure figcaption {
    width: 251px;
  }
}

.grillaProductos {
  display: grid;
  grid-template-areas: "header" "main" "productosTortas" "productosDulces" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr 1fr 1fr 220px;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 1024px) {
  .grillaProductos {
    grid-template-rows: 200px 1fr 1fr 1fr 150px;
  }
  .grillaProductos .navbar-brand {
    display: contents;
  }
}

.grillaRecetas {
  display: grid;
  grid-template-areas: "header" "main" "recetaspracticas" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr 1fr 220px;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 1024px) {
  .grillaRecetas {
    grid-template-rows: 180px 1fr 1fr 150px;
  }
  .grillaRecetas .navbar-brand {
    display: contents;
  }
}

.recetas-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
  margin: 10px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 1024px) {
  .recetas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    margin: 5px;
  }
}

.receta-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .receta-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.nosotros-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros-flex p {
  padding: 10px;
  margin: 10px;
}
@media (min-width: 768px) {
  .nosotros-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.nosotros {
  padding: 5px;
  width: 132px;
  height: 198px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .nosotros {
    padding: 10px;
    margin: 10px;
    width: 197px;
    height: 296px;
  }
}
@media (min-width: 1024px) {
  .nosotros {
    width: 263px;
    height: 395px;
  }
}

.grillaNosotros {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr 220px;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 1024px) {
  .grillaNosotros {
    display: grid;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 180px 1fr 150px;
    gap: 10px;
    width: 100%;
    height: 100vh;
  }
  .grillaNosotros .navbar-brand {
    display: contents;
  }
}

.receta {
  border: 3px groove #a3c6e7;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}
@media (min-width: 1024px) {
  .receta {
    margin: 40px;
  }
}

.logo {
  width: 120px;
  height: 108px;
}
@media (min-width: 1024px) {
  .logo {
    width: 159.96px;
    height: 143.964px;
  }
}

@media (min-width: 1024px) {
  .height-navbar {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .contacto .navbar-brand {
    display: contents;
  }
}

footer {
  background-color: #a3c6e7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/*Extend*/
.heading, h5, h3, h2, h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
  font-weight: bold;
}

h5 {
  padding: 5px;
  margin: 5px;
  font-size: 13.28px;
  font-weight: bold;
}

/* grid areas */
header {
  grid-area: header;
}

main {
  grid-area: main;
}

.recomendados {
  grid-area: recomendados;
}

footer {
  grid-area: footer;
}

.productosTortas {
  grid-area: productosTortas;
}

.productosDulces {
  grid-area: productosDulces;
}

.recetaspracticas {
  grid-area: recetaspracticas;
}

.receta__ingredientes li,
.receta__preparacion li {
  font-family: "Poppins", sans-serif;
  font-size: small;
  padding-right: 10px;
  margin-right: 10px;
}

.animacion {
  overflow: hidden;
}
.animacion img {
  transition: all 3s;
}
.animacion:hover img {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */